.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e1e1e;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #7ec8f8;
}

.exploreButton {
  background-color: #00e1ff;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.exploreButton:hover {
  background-color: #00c9e1;
}

.main {
  display: flex;
  flex: 1;
  padding: 20px;
}